[Unit]
Description=LCD 1.44" display module
After=network.target time-sync.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=20
User=root
ExecStart=/root/lcd144/showclock
ExecStop=/bin/kill -s QUIT $MAINPID

[Install]
WantedBy=multi-user.target
